#navbar-body {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #0e2439;
}

#navbar-title {
    font-size: 2rem;
    padding-left: 20px;
    color: white;
}

.navbar-list-container {
    display: flex;
    width:auto;
    padding-right: 20px;
}

.navbar-list-container, li {
    padding: 10px;
    width: auto;
    list-style: none;
    color: white;
}

.navbar-list-item:link, .navbar-list-item:visited, .navbar-list-item:hover, .navbar-list-item:active {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    
    .navbar-list-item {
        display: none;
    }
}
