#category-graph-wrapper {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 250px;
    margin-top:160px;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor:pointer;
    margin:0 auto 50px auto;
    height: 200px
}

.category-image {
    height: 150px;
    width: 150px;
}

.category-title {
    text-align: center;
    font-family: 'Barlow Condensed';
    font-size: 1.4rem;
}

@media only screen and (min-width:800px) {
    #category-graph-wrapper {
        /* grid-templ */
    }
}