#admin-buttons-backdrop {
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: #0e2439;
    opacity: 0.3;
    overflow-y:hidden;
}

#admin-buttons-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 400px;
    background-color: #0e2439;
}

.admin-button-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.admin-button-li {
    list-style: none;
    width: 100%;
    padding:0;
}

.admin-button-list:first-child {
    margin-top: 92px;
}

.admin-button {
    height: 80px;
    border: none;
    width:100%;
    background-color: #0e2439;
    font-size: 2rem;
    color: white;
    cursor:pointer;
}

.admin-button:hover {
    color:#0e2439;
    background-color: white;
}