.admin-buttons-body {
    height: 100%;
    flex-grow: 1;
}

.admin-button-li {
    list-style: none;
}

.admin-button {
    width: 40%;
    margin-top: 30px;
    padding: 6px 0 6px 0;
}

.admin-button:hover {
    cursor: pointer;
}